<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <!--配置整合mybatis过程-->
    <!--  1:配置数据库相关参数 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- 2：数据库链接池 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 配置连接池属性-->
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>
        <!-- 之后的属性在平时应用中可以不设置-->
        <!-- c3p0链接属性-->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!--关闭连接后不自动commit-->
        <property name="autoCommitOnClose" value="false"/>
        <!-- 获取连接超时时间 -->
        <property name="checkoutTimeout" value="1000"/>
        <!--当获取链接失败重试次数 -->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>
        <!--约定大于配置-->
        <!--配置SqlSessionFactory对象 -->

        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!-- 注入数据库连接池-->
            <property name="dataSource" ref="dataSource"/>
            <!-- 配置MyBatis全局配置文件：mybatis-config.xml -->
            <property name="configLocation" value="classpath:mybastic-config.xml"/>
            <!-- 扫描entity包 使用别名 -->
            <property name="typeAliasesPackage" value="org.seckill.entity"/>
            <!-- 扫描sql配置文件：mapper需要的xml文件-->
            <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        </bean>
        <!-- 4:配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="sqlSessionFactoryBeanName" value="sqlSessopmFactory"/>
            <!-- 注入sqlSession-->
        </bean>
</beans>
